.BuyGMXGLP {
  background-image: linear-gradient( to right, #c4c4c4, #75e3ff);
  justify-content: space-between;
}

.BuyGMXGLP-container {
  padding: 0 0 3.1rem 0;
  width: 100%;
}

.BuyGMXGLP-container .section-title-content {
  justify-content: flex-start;
}
